{% extends 'index.html' %}

{#{% load static %}#}
{% load blog_tags %}

{% block profile_link %}
    {% if user.pk %}
        <a href="{% url 'blog:user' pk=user.pk %}">Profile</a>
    {% endif %}
{% endblock %}

{% block content %}

    <section class="page-posts">
    {% for post in posts %}
          <article class="page-posts__post">
            <header class="post__header">
              <time class="post__header__date" datetime="2016-01-27">
                <span class="datetime__day">{{ post.date|date:'j' }}</span>
                  <span class="datetime__monyear">{{ post.date|date:'F' }} {{ post.date|date:'Y' }}</span>
              </time>
              <div class="post__header__headline">
                <div class="post__header__title">{{ post.title }}</div>
                <div class="post__header__written-by">Written by {{ post.author }}</div>
                <div class="post__header__avatar">
                    {% if post.author.avatar %}
                        <img src="{{ post.author.avatar.url }}" alt="avatar">
                    {% endif %}
                    <div>Views: {{ post.views }}</div>
                </div>
              </div>
            </header>
            <div class="post__text">{{ post.content }}</div>
            <a href="{% url 'blog:certain_post' pk=post.pk %}" class="post__read-more">Read More</a>
            <footer class="post__footer">
                {% for tag in post.post_tags.all %}
                    <div class="post__footer__category">
                        <a href="?{% query_transform request tags=tag.title %}">{{ tag.title }}</a>
                    </div>
                {% endfor %}
{#              {% for tag in post.get_tag_list %}#}
{#                <div class="post__footer__category">#}
{#                    <a href="?{% query_transform request tags=tag %}">{{ tag }}</a>#}
{#                </div>#}
{#              {% endfor %}#}
              <i class="post__icon fa fa-thumb-tack"></i>
            </footer>
          </article>
    {% endfor %}
    </section>

{% endblock %}

{% block pagination %}
    {% if posts.has_previous %}
        <a class="post__read-more" href="?{% query_transform request page=posts.previous_page_number %}">Previous</a>
    {% endif %}
    <span class="post__read-more">{{ posts.number }}</span>
    {% if posts.has_next %}
        <a class="post__read-more" href="?{% query_transform request page=posts.next_page_number %}">Next</a>
    {% endif %}
{% endblock %}
