{% extends 'index.html' %}

{% load static %}

{% block content %}

    <section class="page-posts">
    {% for post in posts %}
          <article class="page-posts__post">
            <header class="post__header">
              <time class="post__header__date" datetime="2016-01-27">
                <span class="datetime__day">{{ post.date|date:'j' }}</span>
                  <span class="datetime__monyear">{{ post.date|date:'F' }} {{ post.date|date:'Y' }}</span>
              </time>
              <div class="post__header__headline">
                <div class="post__header__title">{{ post.title }}</div>
                <div class="post__header__written-by">Written by {{ post.author }}</div>
                <div class="post__header__avatar">
                  <img src="{% static "img/avatar.png" %}" alt="avatar">
                </div>
              </div>
            </header>
            <div class="post__text">{{ post.content }}</div>
            <a href="/post/{{ post.pk }}" class="post__read-more">Read More</a>
            <footer class="post__footer">
              {% for tag in post.get_tag_list %}
                <div class="post__footer__category">
                  {{ tag }}
                </div>
              {% endfor %}
              <i class="post__icon fa fa-thumb-tack"></i>
            </footer>
          </article>
    {% endfor %}
    </section>

{% endblock %}

{% block pagination %}
    {% if posts.has_previous %}
        <a class="post__read-more" href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="post__read-more">{{ posts.number }}</span>
    {% if posts.has_next %}
        <a class="post__read-more" href="?page={{ posts.next_page_number }}">Next</a>
    {% endif %}
{% endblock %}
