{% extends 'index.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock %}

{% block content %}

    <section class="page-posts">
        <div>Profile page</div>
        <div>Name: {{ user.username }}</div>
        {% if user.avatar %}
            <div class="avatar-field">Avatar: <img src="{{ user.avatar.url }}"></div>
        {% endif %}
        <form method="post" action="{% url 'blog:user' pk=user.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_img.as_p }}
            <button type="submit">Upload</button>
        </form>
    </section>

{% endblock %}